.idea/*

vendor/**
node_modules/**
external/**

blueprint/generated/*
blueprint/logs/*
blueprint/cache/*
blueprint/vendor/**
blueprint/node_modules/**

blueprint/.envrc
blueprint/settings.json
blueprint/aws/credentials